@model PracticeSession.ViewModels.BlogPosts

@{
    ViewBag.Title = "CreatePosts";
}

<h2>CreatePosts</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BlogPosts</legend>
        @Html.EditorFor(m=> Model.posts)
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    *@
